* {
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 3em;
    color: green;
}
h3 {
    font-size: 1.5em;
    color: #000;
}
p {
    font-size: 1.7em;
}
li {
    color: #000;
    font-size: 1.5em;
}
body {
    width: 100%;
    height: 100%;
    background: #989895;
}
.container {
    display: flex;
    justify-content: center;
}
.wrapper {
   width: 680px;
   height: 680px;
}
.mainBar {
    display: flex;
    justify-content: center;
}
.topBar {
    width: 680px;
    height: 70px;
    background: #CDB83D;
} 
.login{

    display: flex;
    justify-content: center;
    margin: 5px;
}
/* Support, Car Log & Numbers */
.sectionBar {
    margin: 20px 0;
}
#title {
    position: relative;
    top:-10px;
}
#support {
    position: relative;
    top:-10px;
    padding: 5px;
    background:rgba(23, 158, 23, 0.1);
    border:2px solid green;
    color: green;
}
#support:hover {
    cursor:pointer;
}
.supportInfo {
    width: 340px;
    height: 240px;
    background:#ddd;
    position: absolute;
    margin-left: 17px;
    z-index: 10;
    border-radius: 50px;
    visibility: hidden;
    box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.showSupport {
    visibility: visible;
}
#backImg {
    background: green;
    width: 130px;
    height: 130px;
    border-radius: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}
#backImg p {
    position: relative;
    top: 20px;
    width: 310px;
    font-size: 1em;
}
#fatboy {
    width: 120px;
    border-radius: 120px;
}
.sectionBar ul li {
    font-size: 2em;
}
.supTitleNum {
    
}

.carLog {
    width: 680px;
    height: 600px;
    position: absolute;
    top: 0;
    visibility: hidden;
    /* transition: width 0.5s; */
    background: #000;

}
.topBarLog ul {
    width: 100%;
    height: 70px;
    background: #CDB83D;

}
.showCarLog {
    visibility: visible;

}

.carLog ul {
    display: flex;
    justify-content: space-between;
}
.carLog ul li {
    list-style: none;
    margin: 20px;
    font-size: 2em;
}
.carLog ul #carIssued {
    color: green;
}

.showPlusIcon {
    visibility: hidden;
}
.carInfo {
    border-bottom: 1px solid #ddd;
}
.carInfo ul li {
    font-size: 1em;
    color: #ddd;
}
.carInfo ul #world {
    position: relative;
    top: 10px;
}
.popUp {
    width: 350px;
    height: 10px;
    background: darkgrey;
    position: absolute;
    left: 25%;
    bottom: 75px;
    z-index: 20;
    overflow: hidden;
    border-radius: 25px;
    visibility: hidden;
    transition: height 0.5s;

}
.popUp .popUp_1 {
    display: flex;
    justify-content: center;
}
.popUp_2 {
    display: flex;
    justify-content:center;
}
.popUp_2 ul {
    width: 250px;
    /* background: orange; */
    flex-direction: column;
    margin: 0 auto;

}
.popUp_2 ul li {
    width: 270px;
    padding-left:120px;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
    position: relative;
    left: -65px;
}
.showPopUp {
    visibility: visible;
}
.popUp_2 ul li p {

}
.car_List {
    visibility: hidden;
}
.car_List .middleInfo ul {
    display: flex;
    flex-direction: column;
}
.car_List .middleInfo ul li {
    color: #ddd;
    width: 640px;
    height: 40px;
    position: relative;
    bottom: 0px;
    margin: 15px 20px;
    padding: 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.3em;

}
.car_List .middleInfo ul li input {
    width: 500px;
    height: 25px;
    position: relative;
    top: -5px;
    right: 0px;
    margin: 10px;
    background: none;
    border: none;
    color: #ddd;
    font-size: 1em;
}

.carList {
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: 100;
    top: 130px;
    visibility: hidden;
    background: #000;
    color: #ddd;
}
.showCarList {
    visibility: hidden;
}
#table tr {
    border-bottom: 1px solid #ddd;
    font-size: 1.3em;

}
#table td {
    color: #ddd;
    position: relative;
    left: 10px;
    top: 5px;
    padding: 5px;
}

#popUpDOne {
    position: relative;
    top: -5px;
}
 #popUpCancel {
    position: relative;
    top:-30px;
}
/* Bottom Bar */
.bottom {
    position: absolute;
    bottom: -35px;
    width: 680px;
    height: 70px;
    background: #CDB83D;

    
}
.bottom .bottomBar ul {
    display: flex;
    justify-content: space-between;
}
.bottom .bottomBar ul li {
    list-style: none;
    margin:20px;
}



/* Instructions */
.instructions .para1 ol {
    margin-left: 20px;
}

.supTitleNum ul {
    display: flex;
    justify-content: space-between;

}
.supTitleNum ul li {
    list-style: none;

}

/*---- Email Info ----*/
.loginContext {
    display: flex;
    justify-content: space-between;
}
.loginContext ul li {
    list-style: none;
    font-size: 2em;
}
.loginContext ul #email {
        position: relative;
        top: 10px;
}

.loginContext ul li input {
    width: 400px;
    height: 30px;
    margin: 5px 0;
    padding: 5px;
}
/* ---- Login Button ----*/
.button {
    width:100%;
    height:50px;
    background:green;
    border:1px solid #fff;
    margin: 10px 0;
    cursor:pointer;
    display: flex;
    justify-content: center;
}
.button h3 {
    position: relative;
    top: 10px;
}
.button:hover {
    background:darkgreen;
}
.button h3:hover {
    /* color:green; */

}

.lostEM_2 {
    width: 0;
    height: 600px;
    overflow: hidden;
    visibility: hidden;
    background: rgba(21, 21, 21, 0.8);
    transition: width 1s;
    position: relative;
    top: -500px;
    position: relative;
    z-index: 1;
    transition: width 0.5s;

}
.lostEM_2 .topBar2 ul {
    display: flex;
    justify-content: space-between;

}
.lostEM_2 .topBar2 ul li {
    list-style: none;
    margin: 20px;
}
.lostEM_2 #titleEmail ul li {
    font-size: 2em;
    color: #fff;
}
#numbers2 {
    position: relative;
    top: 15px;
}
#lostEmail ul {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
#lostEmail ul li {
    list-style: none;
    font-size: 2em;
}
#lostEmAdd {
    color:#ddd;
    position: relative;
    left: 5px;
}
#lostEmail input {
    width: 400px;
    height: 30px;
    padding: 5px;
    position: relative;
    top: -5px;
}
.lostBtn3 {
    display: flex;
    justify-content: center;
    margin-left: 25px;
    width: 93%;
}
.resetButton  {
     display: flex;
     justify-content: center;
}
.resetButton h3 {
    position: relative;
    top: 10px;
}
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 375px;
        height: 530px;
    }
    .supTitleNum {
        position: relative;
        top: -5px;
    }
    .supTitleNum  ul li {
        font-size: 1.3em;
        margin: 0 10px;
    }
    .loginContext {
        position: relative;
        top: -10px;
    }

    .loginContext  ul li input {
        width: 230px;
        position: relative;
        top: -20px;
        right:10px;
    }
    .emailPass ul {
        position: relative;
        top: -10px;
        left: 10px;
    }
    .emailPass ul li {
        font-size: 1.1em;
    }
    .emailPass #pass {
        position: relative;
        top: 20px;
    }
    .carLog {
        width: 375px;
        height: 550px;
        position: absolute;
        z-index: 10;
    }
    .bottom {
        width: 375px;
        z-index: 100;
        position: absolute;
        bottom: -7px;
    }
    .button {
        width: 352px;
        position: relative;
        top: -35px;
        left: 10px;
    }
    .instructions {
        width: 355px;
        position: relative;
        top: -35px;
        left: 25px;
    }
    .para1 p {
        font-size: 1.5em;
    }
    .para1 ol li {
        font-size: 1.3em;
    }
    .lostEM_2 {
        position: relative;
        top:-562px;
        background: rgba(21, 21, 21, 0.8);
    }
   .lostEM_2 li h2 {
        font-size: 1em;
        position: relative;
        top: 15px;
        left: 40px;
   }
    #lostEmail {
        width:375px;
        position: relative;
        top: 30px;
    }
    #lostEmail #lostEmAdd {
        font-size: 1.3em;
        position:relative;
        top:10px;
    }
    #lostEmail input {
        width:180px;
    }
    .lostBtn3 {
        width: 87%;
        position: relative;
        top: 30px;
        left: 0px;
    }

    .car_list .middleInfo ul li {
        color: #ddd;
        width: 330px;
        position: relative;
        bottom: 0px;
        margin: 20px;
        padding: 0;
        border-bottom: 1px solid #ddd;
        font-size: 1em;
    
    }
    .car_List .middleInfo ul li {
        margin: 14px;
    }
    .car_list .middleInfo ul li input {
        width: 180px;
        height:30px;
        position: relative;
        top: -5px;
        left: 10px;
        background: none;
        border: none;
    }
  
    .popUp {
        width: 250px;
        position: absolute;
        left: 60px;
    }
}