* {
    margin:0;
    padding:0;
    color:#fff;

}
#container {
    width:100%;
    height:800px;
    background:#000;
}
#wrapper {
    width:680px;
    margin:0 auto;
    padding:0;
    background:#000;
    text-align:center;
}
.sections {
    height:250px;
}
#login {
    width:100%;
    height:60px;
    background:#132D13;
    
}
#login h3 {
    padding-top:20px;
}

.supFlashNum li {
    list-style:none;
}
#support  {
    margin:5px;
    padding:5px;
    color:red;
    border:1px solid red;
    display:inline-block;
    float:left;
    position:relative;
    top:-15px;
}

#title {
    font-size:1.5rem;
    text-align:center;
    position: relative;
    top:-15px;
    left:-35px;
}

#numbers {
    float:right;
    position: relative;
    top:-40px;
}
#supFlashNum ul li{
    float:left;
    list-style:none;
}
.loginContext {
    float:left;
    position: relative;
    top:-15px;
}
.loginContext li {
    margin:15px;
    font-size:1.5rem;
    list-style: none;
    text-align:left;

}

.loginInput {
    float:right;
    position: relative;
    top:-5px;
}
.loginInput li {
    list-style:none;
    
}
.loginInput input {
    width:400px;
    height:35px;
    margin:5px;
    padding-left:5px;
    background:none;
    border:1px solid #fff;

}
.button {
    width:99%;
    height:50px;
    background:rgba(38, 38, 38, 01);
    border:1px solid #fff;
    position: relative;
    top:-35px;
}
.button div {
    position: relative;
    top:15px;
    font-size:1.2rem;
}
.para1 {
    text-align:left;
    margin-left:30px;
    margin-top:-30px;
}
.para1 p {
    font-size:2rem;
    margin:5px 0 5px -20px;
}
.para1 li {
    font-size:1.6rem;
    margin:15px 0;
}
.lostBtn2 {
    margin-top:50px;
}

.lostEM_2 {
    position: relative;
    top:-530px;
    width:100%;
    height:700px;
    background:#000;
    z-index:10;
    display:none;
}
#titleEmail {
    width:100%;
    height:50px;
}
#titleEmail li {
    list-style:none;
    float:center;
    text-align:right;
}
#titleEmail li h2 {
    text-align:right;
    position: relative;
    top:20px;
    left:-300px;
}
#numbers2 {
   position: relative;
   top:0px;

}
#lostEmail {
   padding-top:20px;
}
#lostEmail li {
    float:left;
    list-style:none;
}
#lostEmail #lostEmAdd {
    margin-right:20px;
    font-size:1.2rem;
    position: relative;
    top:7px;
}

#lostEmail li input {
    width:400px;
    height:35px;
    background:none;
    border:1px solid #fff;
    padding-left:5px;
    position: relative;
    right:-150px;
   
}
.lostBtn3 {
    position: relative;
    top:5px;
}
@media only screen and (max-width:600px) {
    #wrapper {
        width:375px;
       
    }
    .loginContext {
        position:relative;
        top:-10px;
    }
    .loginContext li {
        font-size:1.2rem;

    }
    .loginInput input {
        width:220px;
    }
    .para1 p {
        font-size:1.1rem;
    }
    .para1 li {
        font-size:1rem;

    }
    #titleEmail li h2 {
        position: relative;
        left:-150px;
    }
    #lostEmail #lostEmAdd {
        font-size: 1rem;
    }
    #lostEmail li input {
        width:250px;
        position: relative;
        left:10px;
    }
}