* {
    margin:0;
    padding:0;


} .clear {
    clear:both;
}
body {
    background:#000;
}
#container {
    color:#fff;
    width:800px;
    text-align:center;
    margin:0 auto;
    padding:0;
}
#wrapper {
    width:650px;
    margin:0 auto;
    text-align:center;
}
.topBar1, .topBar2 {
    padding-top:10px;
}.login {
    width:650px;
    height:60px;
    margin-top:-10px;
    padding:0;
    background:#132D13;
    
}
.login p{
    padding-top:30px;
    font-size:1.2rem;
}
#support {
    float:left;
}
#supportBtn {
    color:red;
    border: 1px solid red;
    background:#000;
    font-size:1rem;
    font-weight:normal;
    padding:5px;
    margin:12px 200px 0 0;

}
.flashCar {
    float:left;
    margin-top:5px;
}
.titleFlashCar {
    font-weight:normal;

}
.versionNumber {
    font-weight:normal;
    text-align:right;
}
.middle {
    margin-top:10px;
    padding:0;
    width:650px;

}
.middleText {
    margin-top:15px;
    padding:0;
    float:left;
}
.middleText  ul li {
    list-style:none;
    text-align:left;
    margin:5px 0;
    font-weight:normal;
    font-size:1.1rem;
}

 .middleLogin {
     margin-top:15px;
}
.middleLI {
    margin-top:-20px;
}
.middleInput {
    width:400px;
    height:30px;
    background:none;
    padding-left:5px;
    float:right;
    margin-top:8px;

    
}
 .loginBtn {
    margin-top:15px;
    padding:0;
    width:648px;
    border:1px solid #fff;
    cursor:pointer;
}
.button_1, .button_2, .button_3 {
    padding:10px 0;
    background:rgba(38, 38, 38, 01);
    cursor:pointer;
}

.topBar2 {
    width:650px;
    height:60px;
    margin-top:-14px;
    padding:0;
    background:#132D13;
    
}

.loginClick1 {
    width:230px;
    background:rgba(38, 38, 38, 01);
    margin-left:200px;
    border-radius:5px;
    cursor:pointer;
    display:none;
    position:absolute;
}
.loginClick1 h4 {
    padding:10px;

}
.loginClick1 p {
    font-size:0.9rem;
    padding-bottom:10px;
}
.loginClick1 #ok {
    border-top:1px solid #fff;
}
.para1 {
    position: relative;
    z-index:-1;
}
.para1 p {
    margin:0;
    padding-top:5px;
    font-size: 1.7rem;
    text-align:left;
}
.para1 ol {
    margin-left:25px;
}
.para1 li {
    text-align:left;
    font-size:1.2rem;
    margin:10px 0;
}
.lostWrap {
    width:680px;
    position:relative;
    top:-500px;
}
.lostEmail {
    width:680px;
    height:500px;
    background:#000;
   
    display: none;
    overflow:hidden;
    float:right;
}
.lostTitle {
    text-align:center;
}
.lostTitle h2 {
    padding-top:30px;
    
}
#version2 {
    float:right;
    margin-top:-30px;
    font-size:normal;
}
.lostEmailAddress li {
    float:left;
    margin-top:5px;
    font-size:1.5rem;
}
.lostInput {
    margin-right:235px;
}
.lostInput input {
    float:left;
    width:375px;
    height:30px;
    background:none;
    border:1px solid #fff;
    position:absolute;
    padding-left:10px;

}
.lostBtn .button_3 {
    border:1px solid #fff;
    margin-top:-15px;
}


@media only screen and (max-width:600px) {
    #wrapper, #container, .login {
        width:375px;
    }
    #supportBtn {
        font-size:0.7rem;
        margin:12px 90px 0 0;

    }
    .titleFlashCar {
        font-size:1.8em;
    }
    .versionNumber {
        font-size:1rem;
        margin-top:10px;
    }
    .middle {
        width:370px;
    }
    .middleText ul li {
        font-size: 1rem;
    }
    .middleInput {
        width:250px;
        height:25px;
    }

    .loginBtn {
        width:370px;
    }
    .loginClick1 {
        width:210px;
        margin-left:70px;
    }
    .para1 p {
        font-size:1.1rem;
    }
    .para1 ol {
        margin-left:15px;
    }
    .para1 ol li {
        font-size:0.9rem;
    }
    .lostEmail p {
        font-size:1rem;
        margin-top:5px;
    }
    #lostInput {
        width:250px;
        height:25px;

    }
    .lostBtn3 {
        width:370px;
        height:25px;
        border:1px solid #fff;
        cursor:pointer;
    }
    #topBar2 {
        width:375px;
    }
    .lostEmail {
        width:380px;
        position:relative;
        top:30px;
        right:303px;
        padding-top:10px;
    }
    .lostTitle {
        margin-right:5px;
    }
    #version2 {
        margin-right:20px;

    }
   
    .lostEmailAddress li {
        font-size:1.1rem;
        margin-left:1px;
    }
    .lostInput {
        margin-right:200px;
    }
    .lostInput input {
        width:220px;
    }
    .lostBtn {
        width:3
    }
    .lostBtn .button_3 {
        width:360px;
        margin-left
        
    }
 
}